# NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_API_URL=http://localhost:5001/ebudy-test1/us-central1/api
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyC3EjiagXnLc-ccEPKrvN7SZ6JZSQiQrdo
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=ebudy-test1.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=ebudy-test1